.v-warehouse {
	display: block;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding-bottom: 0.266667rem;
	margin-bottom: 0.266667rem;
	position: relative;
	background-color: #fff;
}

.v-warehouse-header {
	height: 1.066667rem;
	width: 100%;
	border-bottom: solid 1px #ececec;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 0.266667rem;
}

.v-warehouse-header-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-warehouse-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: 0.266667rem 0.266667rem 0;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.v-warehouse-footer-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.v-warehouse-labels {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: right;
}

.v-warehouse-values {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: right;
}

.v-warehouse-name {
	margin-left: 0.266667rem;
	color: #333;
	font-size: 13px;
}

.v-warehouse-name-is-warehouse,.v-warehouse-name-is-shop {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-warehouse-name-is-warehouse img,.v-warehouse-name-is-shop img {
	width: 0.453333rem;
	height: 0.36rem;
	margin-right: 0.133333rem;
}

.v-warehouse-shop-link {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-warehouse-error-tooltip {
	text-align: right;
	padding: 0.266667rem 0.266667rem 0;
}

.v-warehouse-error-indictor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px #ff8587;
	pointer-events: none;
}

.v-arrow-black {
	position: relative;
	width: 9px;
}

.v-arrow-black::after {
	position: absolute;
	top: 50%;
	right: 0;
	border: 1px solid #333;
	border-bottom-width: 0;
	border-left-width: 0;
	content: " ";
	width: 7px;
	height: 7px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.v-checkbox-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-checkbox-inner img {
	display: block;
	width: 0.533333rem;
	height: 0.533333rem;
}

.v-numberinput {
	display: inline-block;
	border: solid 1px #aaa;
	border-radius: 2px;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
}

.v-numberinput-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.v-numberinput-minus {
	width: 0.666667rem;
	height: 0.666667rem;
	position: relative;
	border-right: solid 1px #aaa;
}

.v-numberinput-minus::before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	content: "";
	display: block;
	width: 0.266667rem;
	height: 2px;
	background-color: #666;
}

.v-numberinput-value {
	min-width: 1.093333rem;
	line-height: 0.666667rem;
	text-align: center;
	font-weight: bold;
}

.v-numberinput-plus {
	width: 0.666667rem;
	height: 0.666667rem;
	position: relative;
	border-left: solid 1px #aaa;
}

.v-numberinput-plus::before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	content: "";
	display: block;
	width: 0.266667rem;
	height: 2px;
	background-color: #666;
}

.v-numberinput-plus::after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	content: "";
	display: block;
	width: 2px;
	height: 0.266667rem;
	background-color: #666;
}

.v-numberinput-minus-hotarea {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.v-numberinput-plus-hotarea {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.v-numberinput-disabled::before {
	background-color: #ccc !important;
}

.v-numberinput-disabled::after {
	background-color: #ccc !important;
}

.v-cartitem {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	color: #333;
	font-size: 12px;
	-webkit-user-select: none;
	user-select: none;
	padding: 0.266667rem 0 0;
	background-color: #fff;
}

.v-cartitem-red {
	color: #ff8587;
}

.v-cartitem-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.v-cartitem-left {
	width: 1.013333rem;
	height: 2.133333rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-cartitem-right {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 8.986667rem;
	padding-bottom: 0.266667rem;
	border-bottom: solid 1px #f0f0f0;
}

.v-cartitem-image {
	position: relative;
	width: 2.133333rem;
	height: 2.133333rem;
}

.v-cartitem-image img {
	 width:100%;
	 height:100%;
	display: block;
}

.v-cartitem-zpcount {
	color: #666;
}

.v-cartitem-label {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1px 0;
	background-color: rgba(125,200,247,0.8);
	color: #fff;
	text-align: center;
}

.v-cartitem-label.z-type2 {
	background-color: rgba(227,20,54,0.6);
}

.v-cartitem-detail {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 0 0.2rem;
	box-sizing: border-box;
}

.v-cartitem-title-wrapper {
	display: block;
}

.v-cartitem-title {
	word-break: break-all;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.v-cartitem-lo {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-top: 9px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.v-cartitem-info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin-right: 5px;
}

.v-cartitem-info-bottom {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.v-cartitem-sku {
	color: #999;
	font-size: 11px;
	word-break: break-all;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.v-cartitem-fee {
	color: #999;
	font-size: 11px;
}

.v-cartitem-price {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	line-height: 1;
	font-weight: bold;
	font-size: 13px;
	margin-top: 5px;
}

.v-cartitem-price::first-letter {
	font-size: 11px;
}

.v-cartitem-ops {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.v-cartitem-del-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	min-width: 0.386667rem;
	margin-top: 5px;
}

.v-cartitem-del {
	width: 0.386667rem;
	height: 0.44rem;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAhCAMAAAAS9VDrAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAANlBMVEVMaXGZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZngSDN6AAAAEXRSTlMAsaPUErnI8Q/tKwKWa0lb94MhZfcAAABqSURBVHja7Y85DsAgDASX+07k/382EjZBQjQp0jGNzQ5iBQZXooHJWIgsGY9BsZ3KkVxsHBYYEuZz91sBl5iGSZXM4U+8k7E9E/V/UABkkfjYY3koDciy2IUv1m5klnpFe7jeqrBxQUfgAd0PEXA49SPgAAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
}

.v-cartitem-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding-right: 0.266667rem;
}

.v-cartitem-limit {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #ff8587;
	line-height: 1;
	margin-top: 0.266667rem;
}

.v-cartitem-buy-button {
	height: 0.533333rem;
	padding: 0 0.266667rem;
	color: #ff8587;
	border: solid 1px #ff8587;
	border-radius: 2px;
	margin-top: 0.266667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-cartitem-buy-button:hover {
	color: #ff8587;
}

.v-cartitem-activityIcon {
	height: 13px;
	margin-left: 4px;
}

.v-position-dot {
	width: 0.24rem;
	height: 0.24rem;
	background: #d9d9d9;
	border-radius: 100%;
	display: block;
	position: relative;
	z-index: 1;
}

.v-cartitem.v-cartitem-invalid {
	background-color: #fafafa;
}

.v-cartitem.v-cartitem-invalid .v-cartitem-invalid-tag {
	background-color: #aaa;
	color: #fff;
	padding: 1px 3px;
	border-radius: 2px;
	font-size: 11px;
}

.v-cartitem.v-cartitem-invalid .v-cartitem-zpcount {
	color: #999;
}

.v-cartitem.v-cartitem-invalid .v-cartitem-title {
	color: #999;
}

.v-cartitem.v-cartitem-invalid .v-cartitem-price {
	color: #999;
}

.v-cartitem.v-cartitem-invalid .v-cartitem-limit {
	color: #999;
}

.v-tooltip {
	position: relative;
	background-color: #ff8587;
	font-size: 12px;
	color: #fff;
	padding: 0.266667rem;
	display: inline-block;
	max-width: 100%;
	text-align: left;
}

.v-tooltip::before {
	position: absolute;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 5px transparent;
	border-top: solid 0;
	border-bottom: solid 5px #ff8587;
	margin-top: -14px;
	right: 30px;
}

.v-shipmentfeehint {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 0.866667rem;
	padding-left: 1.013333rem;
	padding-right: 0.266667rem;
	border-bottom: solid 1px #ddd;
	background-color: #fafafa;
	color: #666;
	line-height: 1;
	-webkit-user-select: none;
	user-select: none;
}

.v-shipmentfeehint-left {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.v-shipmentfeehint-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	color: #ff8587;
}

.v-shipmentfeehint-arrow {
	position: relative;
	width: 9px;
}

.v-shipmentfeehint-arrow::after {
	position: absolute;
	top: 50%;
	right: 0;
	border: 1px solid #ff8587;
	border-bottom-width: 0;
	border-left-width: 0;
	content: " ";
	width: 7px;
	height: 7px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.v-shipmentfeehint.v-shipmentfeehint-free .v-shipmentfeehint-right {
	color: #666;
}

.v-shipmentfeehint.v-shipmentfeehint-free .v-shipmentfeehint-arrow::after {
	border: 1px solid #999;
	border-bottom-width: 0;
	border-left-width: 0;
}

.v-bottomTips {
	padding: 0 0.533333rem;
	line-height: 0.8rem;
	background: #fff7f7;
	border-top: 0.013333rem solid #d5d5d5;
	text-align: center;
}

.v-bottomTips a {
	display: inline-block;
}

.v-bottomTips .s-red {
	color: #d22147;
}

.v-billbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 1.333333rem;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
	background-color: #fff;
}

.v-billbar .v-billbar-check-all-label {
	margin-left: 8px;
}

.v-billbar-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 12px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding-left: 0.266667rem;
	box-sizing: border-box;
	border-top: solid 1px #ccc;
}

.v-billbar-center {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding-right: 0.266667rem;
	box-sizing: border-box;
	border-top: solid 1px #ccc;
}

.v-billbar-price {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 13px;
	color: #333;
}

.v-billbar-price-label >span {
	font-size: 11px;
}

.v-billbar-fee {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 11px;
	color: #999;
}

.v-billbar-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #e31436;
	color: #fff;
	font-size: 15px;
	height: 1.333333rem;
}

.v-billbar-price-value {
	color: #e31436;
	font-weight: bold;
}

.v-billbar-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
}

.v-billbar-right .v-billbar-button {
	background-color: #e31436;
	padding: 0 0.666667rem;
	color: #fff;
}

.v-billbar-right .v-billbar-button-disabled {
	background-color: #c1c1c1;
}

.v-activity-group {
	padding: 0 0.266667rem 0 1.013333rem;
	height: 1.066667rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #ff8587;
	font-size: 13px;
}

.v-activity-group:hover {
	color: #ff8587;
}

.v-activity-group-tag {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: solid 1px #ff8587;
	color: #ff8587;
	line-height: 1;
	padding: 1px;
	margin-right: 3px;
	font-size: 10px;
	white-space: nowrap;
}

.v-activity-group-content {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.v-activity-group-arrow {
	position: relative;
	width: 9px;
}

.v-activity-group-arrow::after {
	position: absolute;
	top: 50%;
	right: 0;
	border: 1px solid #ff8587;
	border-bottom-width: 0;
	border-left-width: 0;
	content: " ";
	width: 7px;
	height: 7px;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.v-activity-group.v-activity-group-fulfilled {
	color: #333;
}

.v-activity-group.v-activity-group-fulfilled:hover {
	color: #333;
}

.v-activity-group.v-activity-group-fulfilled .v-activity-group-arrow::after {
	border: solid 1px #999;
	border-bottom-width: 0;
	border-left-width: 0;
}

.m-giftBtnWrap {
	padding: 0 0.2rem 0.2rem;
}

.m-giftBtnWrap .btn-gift {
	float: right;
	margin-top: 1px;
	line-height: 19px;
	padding: 4px 12px;
	text-align: center;
	color: #e31436;
	border: 1px solid;
	border-radius: 3px;
	vertical-align: top;
	font-size: 13px;
}

.v-combo-group-head {
	zoom:1;}

.v-combo-group-head:after {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	content: ".";
}

.v-combo-group-head .v-invalid {
	display: inline-block;
	background-color: #aaa;
	color: #fff;
	padding: 1px 3px;
	border-radius: 2px;
	font-size: 11px;
	position: relative;
	z-index: 1;
}

.v-combo-group-head .v-invalidwrap {
	width: 1.013333rem;
	text-align: center;
}

.v-combo-group-head-invalid {
	background-color: #fafafa;
	color: #999;
}

.v-combo-group-head-invalid .v-tag {
	color: #999;
	border: 1px solid #999;
}

.v-combo-group-head .combo_price {
	font-size: 13px;
}

.v-combo-group-left {
	float: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: 0.4rem 0 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.v-combo-group-left .v-checkbox {
	margin: 0 0.24rem;
	position: relative;
	z-index: 1;
}

.v-combo-group-left .v-tag {
	margin-right: 8px;
}

.v-combo-group-right {
	float: right;
	margin-top: 0.333333rem;
	padding-right: 0.2rem;
}

.v-combo-group-content {
	position: relative;
}

.v-combo-group-content:after {
	content: "";
	position: absolute;
	left: 0.493333rem;
	bottom: 1.333333rem;
	top: -0.266667rem;
	border-left: 1px dashed #d9d9d9;
	z-index: 0;
}

.v-loading {
	text-align: center;
}

.v-loading >img {
	width: 23px;
	height: 23px;
}

.v-tag {
	display: inline-block;
	margin-right: 2px;
	border: solid 1px #ff8587;
	color: #ff8587;
}

.v-tag-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 1px;
	font-size: 10px;
	white-space: nowrap;
	position: relative;
	top: 1px;
	line-height: 1;
}

.v-tag.v-tag-disabled {
	border: solid 1px #999;
	color: #999;
}

.v-clearinvalidgoods {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0.4rem 0;
	background-color: #fafafa;
	width: 100%;
}

.v-clearinvalidgoods-button {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 22px;
	padding: 0rem 0.306667rem;
	border: solid 1px #999;
	color: #333;
	border-radius: 2px;
}

.v-nonegoodsbanner {
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 0.8rem 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
}

.v-nonegoodsbanner-image {
	display: block;
	width: 2.666667rem;
	height: 2.666667rem;
}

.v-nonegoodsbanner-text {
	text-align: center;
	color: #333;
	margin-top: 0.4rem;
}

.v-cartempty {
	position: fixed;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: #fff;
	font-size: 15px;
}

.v-cartempty-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-top: -80px;
}

.v-cartempty-icon {
	width: 2.666667rem;
	height: 2.666667rem;
}

.v-cartempty-text {
	margin: 0.533333rem 0 0.8rem;
}

.v-cartempty-button {
	width: 3.2rem;
	height: 1.066667rem;
	display: block;
	background-color: #e31436;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-radius: 3px;
}

html,body {
	background-color: #f0f0f0;
}

.app {
	padding-bottom: 1.333333rem;
	background-color: #f0f0f0;
}

.v-fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

.v-tac {
	text-align: center;
}

.v-lock-layer {
	position: fixed;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.v-empty {
	height: 0.8rem;
}

.v-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.v-fixed-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
